<md-toolbar class="toolbar-container" *ngIf="currentUser">
  <div class="app-logo" (click)="goBack()"></div>
  <span class="toolbar-app-title" (click)="goBack()" title="Dashboard">{{ pagesTitle || 'APP' }}</span>
  <div class="tool-bar-list-container">
  </div>
  <span class="toolbar-spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="toolBarMenu"><md-icon>more_vert</md-icon></button>
  <md-menu #toolBarMenu="mdMenu" class="toolbar-dropdown-menu">
    <a md-menu-item
       class="toolbar-list-item"
       [routerLink]="['','user','profile']"
       [routerLinkActiveOptions]= "{exact: false}"
       routerLinkActive="active"
    >
      <md-icon class="material-icons">account_circle</md-icon>
      <div class="profile-details-container">
        <div class="user-email">{{ currentUser.firstName }}</div>
        <div class="user-email">{{ currentUser.email }}</div>
      </div>
    </a>
    <a md-menu-item
       class="toolbar-list-item"
       [routerLink]="page.routerLink"
       [routerLinkActiveOptions]= "{exact: false}"
       [hidden]="!isAllowedAction('view', page.permissionRef)"
       routerLinkActive="active"
       *ngFor="let page of pagesList"
       (click)="page.listTitle === 'Signout' ? signOut() : false"
    >
      <md-icon class="material-icons" md-48>{{page.mdIcon}}</md-icon>
      {{ page.listTitle }}
    </a>
  </md-menu>
</md-toolbar>